<div class="addEmployeeSection">
    <div class="sectionHeader">
        <h2>Add New Employee</h2>
    </div>
    <div class="addEmployeeFields">
        <h4 class="blockHeading">Personal Information</h4>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="txtFirstName" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="txtFirstName" id="txtFirstName" placeholder="First Name">
                </div>
            </div>
            <div class="form-group">
                <label for="txtLastName" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="txtLastName" id="txtLastName" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group">
                <label for="txtEmployeeId" class="col-sm-2 control-label">Employee Id</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="txtEmployeeId" id="txtEmployeeId" placeholder="Employee Id">
                </div>
            </div>
            <div class="form-group">
                <label for="txtEmployeeEmail" class="col-sm-2 control-label">Employee Email</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="txtEmployeeEmail" id="txtEmployeeEmail" placeholder="Employee Email">
                </div>
            </div>
            <div class="form-group">
                <label for="txtEmployeeEmail" class="col-sm-2 control-label">Gender</label>
                <div class="col-sm-3">
                    <label class="radio-inline">
                        <input type="radio" ng-model="employeeGender" name="employeeGender" value="male">
                        <span>Male</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="employeeGender" name="employeeGender" value="female">
                        <span>Female</span>
                    </label>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label for="txtEmployeeEmail" class="col-sm-2 control-label">Date of Birth</label>-->
                <!--<div class="col-sm-3">-->

                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <label for="txtEmployeeEmail" class="col-sm-2 control-label">Marital Status</label>
                <div class="col-sm-3">
                    <label class="radio-inline">
                        <input type="radio" ng-model="employeeMaritalStatus" name="employeeMaritalStatus" value="unmarried">
                        <span>Un Married</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="employeeMaritalStatus" name="employeeMaritalStatus" value="married">
                        <span>Married</span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default" ng-click="getEmployeeList()">Clear</button>
                    <button type="submit" class="btn btn-default" ng-click="saveEmployee()">Save</button>
                    <button type="button" class="btn btn-default" ng-click="updateEmployeeById()">Get Employee</button>
                </div>
            </div>
        </form>

    </div>
</div>