<div class="pageHeader">
    <div class="innerContainer clearfix">
        <div class="logo">
            <!--<img src="../images/logo.gif">-->
            <h1>i28</h1>
        </div>
        <div class="headerInfo">
            <ul>
                <li class="clearfix">
                    <img src="../images/phone.png" />
                    <p>(732)-943-0151, (732)-943-0149</p>
                </li>
                <li class="clearfix">
                    <img src="../images/email.png" />
                    <a href="mailto:info@i28tech.com">info@i28tech.com</a>
                </li>
            </ul>
        </div>
    </div>
</div>